# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rbuildignore

# Cache IRMS data
/cache/BF*

# data output folder
/data_output

# old scripts
/deprecated

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 tokens
.httr-oauth

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Temporary files created by operating systems
~$*
.DS

# other output files
*.html
*.pdf
*.docx
fig_output/*
tables/*

data/GC_testing
data/gc_fid_data_2021

# exceptions
!docs/*.html

# sequencing folder
/sequencing/
data/.DS_Store
data/IRMS/.DS_Store
.DS_Store
